@import "tailwindcss";

:root {
  --color-bg-primary: #e8f5ff;
  --color-bg-secondary: #c8e6c9;
  --color-accent: #ffb300;
  --color-txt: #212121;
  --color-titles: #000000;
  --color-borders: #ce1111;
  --color-highlight: #5df8eb;

  --color-status-failed: #ff4b4b;
  --color-status-ongoing: #f1c40f;
  --color-status-completed: #649de9;

  --color-status-good: #2ecc71;
  --color-status-danger: #f1c40f;
  --color-status-critical: #c62828;
}

.dark {
  --color-bg-primary: #0b1428;
  --color-bg-secondary: #1e2a44;
  --color-accent: #00d4ff;
  --color-txt: #e0f7ff;
  --color-titles: #ffffff;
  --color-borders: #ced6db;
  --color-highlight: #5df8eb;
}

@theme inline {
  --color-primary: var(--color-bg-primary);
  --color-secondary: var(--color-bg-secondary);
  --color-accent: var(--color-accent);
  --color-txt-primary: var(--color-txt);
  --color-text-titles: var(--color-titles);
  --color-borders: var(--color-borders);
  --color-highlight: var(--color-highlight);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes progress-slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  --animate-sao-load: progress-slide 3s ease-in-out infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
