@import "tailwindcss";

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
  font-weight: 900;
  letter-spacing: 0.05em; /* Optional: Orbitron looks better with a little space */
}

:root {
  --color-background-primary: #ffffff;
  --color-background-secondary: #009af3;
  --color-text-titled: #1a1a1a;
  --color-text-style: #212a33;
  --color-button-background: #f1c40f;
  --color-accent-theme: #bf00ff;
  --color-highlight-hover: #f1c40f;
  --color-highlight-selected: #bf00ff;
  --color-border-theme: #f1c40f;

  --color-status-failed: #ff4b4b;
  --color-status-ongoing: #f1c40f;
  --color-status-completed: #2ecc71;

  --color-status-good: #2ecc71;
  --color-status-danger: #f1c40f;
  --color-status-critical: #c62828;
}

.dark {
  --color-background-primary: #06090f;
  --color-background-secondary: #2ad4eb;
  --color-text-titled: #d9f0f8;
  --color-text-style: #e0f7ff;
  --color-button-background: #00d4ff;
  --color-accent-theme: #ffd634;
  --color-highlight-hover: #00d4ff;
  --color-highlight-selected: #ffd634;

  --color-border-theme: #00d4ff;
}

@theme inline {
  --color-primary: var(--color-background-primary);
  --color-secondary: var(--color-background-secondary);
  --color-accent: var(--color-accent-theme);
  --color-txt: var(--color-text-style);
  --color-heading: var(--color-text-titled);
  --color-stylish: var(--color-border-theme);
  --color-hover: var(--color-highlight-hover);
  --color-select: var(--color-highlight-selected);
  --color-buttons: var(--color-button-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes progress-slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  --animate-sao-load: progress-slide 3s ease-in-out infinite;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
}